@use '../utilities/' as *;

html {
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  position: relative;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: min-content auto min-content;
  background-color: $color-white;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50%, 100%));
  background-color: $color-white;
}

footer {
  grid-area: footer;
  margin-top: auto;
}
