@use '../utilities' as *;

@mixin round-btn {
  min-width: auto;
  aspect-ratio: 1/1;
  padding: 0;
  border-radius: 50%;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: $semi-bold;
  text-align: center;
  line-height: 1;
  height: 44px;
  width: fit-content;
  min-width: 64px;
  padding: 0 24px 0 20px;
  border: none;
  border-radius: 10rem;
  background: none;
  cursor: pointer;
  transition: all 0.2s;

  :first-child {
    margin-right: 0.5rem;
  }

  &:has(span:first-child) {
    padding: 0 20px 0 24px;
  }

  &:not(:has(span)) {
    @include round-btn;

    .btn__icon {
      width: 24px;
      margin-right: 0rem;
    }
  }

  &:has(:hover) {
    transform: scale(1.05);
  }

  &:has(:focus) {
    outline: none;
  }

  &__icon {
    width: 18px;
    aspect-ratio: 1/1;
  }

  @include respond-to(768px) {
    font-size: 1rem;
  }
}

.btn--pry {
  color: $color-white;
  text-transform: uppercase;
  background-image: $gradient;

  .btn__icon {
    fill: $color-white;
  }
}

.btn--alt {
  font-weight: $semi-bold;
  color: $color-primary;
  background-color: $color-grey-light-1;

  svg {
    fill: $color-primary;
  }
}

.btn--sec {
  font-weight: $bold;
  text-transform: uppercase;
  padding: 0;

  svg {
    fill: $color-primary;
  }

  @include respond-to(768px) {
    font-size: 14px;
  }
}

.search__btn {
  @include respond-to(1023px, 'max-width') {
    @include round-btn;

    .btn__icon {
      width: 24px;
      margin-right: 0rem;
    }

    span {
      display: none;
    }
  }

  @include respond-to(1024px) {
    height: 52px;

    .btn__icon {
      width: 20px;
    }
  }
}

.nav__btn {
  @include respond-to(767px, 'max-width') {
    @include round-btn;
    height: auto;

    .btn__icon {
      width: 34px;
      margin-right: 0rem;
    }

    span {
      display: none;
    }
  }
}

.recipe__btn {
  &--update-servings {
    height: auto;
  }
}
