@use '../utilities/' as *;

.feedback {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin: 0 auto;

  &__icon {
    max-width: 3rem;
    aspect-ratio: 1/1;
    fill: $color-primary;
    transform: translateY(-0.3rem);
  }

  &__text {
    font-family: $font-stack;
    font-size: 1.2rem;
    font-weight: $semi-bold;
  }
}
