@use '../utilities/' as *;

.search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  height: fit-content;
  border-radius: 10rem;
  background-color: $color-white;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-grey-dark-1, 0.08);
  }

  &__field {
    font-family: $font-stack;
    color: $color-grey-dark-1;
    font-size: 1rem;
    width: 100%;
    height: 44px;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-grey-light-4;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include respond-to(1024px) {
    &__field {
      font-size: 1.2rem;
      height: 52px;
    }
  }
}

.upload {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 504px);
  padding: 1rem;
  border-radius: 10px;
  background-color: $color-white;

  &:has(.upload__btn--submit:is(.show)) {
    padding-bottom: 4.5rem;
  }

  &__heading {
    width: fit-content;
    font-family: $font-stack;
    font-size: 1.1rem;
    font-weight: $bold;
    text-transform: uppercase;
    color: $color-primary;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:not(.show) {
      display: none;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;

    &:has(.upload__input[aria-invalid='true']) {
      padding-bottom: 1.5rem;
    }
  }

  &__label {
    font-size: 1rem;
    font-weight: $semi-bold;
    color: $color-grey-dark-1;
  }

  &__input {
    font-size: 1rem;
    font-weight: $regular;
    padding: 0 1rem;
    flex-shrink: 0;
    flex-grow: 1;
    height: 36px;
    border: 1px solid $color-grey-light-3;
    border-radius: 0.5rem;
    transition: all 0.2s;

    &[aria-invalid='true'] {
      border: 1px solid $color-error;
    }

    &::placeholder {
      color: $color-grey-light-4;
    }
  }

  &__error-message {
    display: none;
    position: absolute;
    bottom: 0;
    font-size: 0.75em;
    color: $color-error;
    animation: fade-in 0.3s ease-in;
  }

  &__input[aria-invalid='true'] + .upload__error-message {
    display: block;
  }

  &__btn {
    margin: 0 auto;
    margin-top: 0rem;
  }

  &__btn--add {
    margin-left: 0;
  }

  &__btn--next,
  &__btn--prev {
    // position: absolute;
    // bottom: 44px;
    // right: calc(50% - 50px);
  }

  &__btn--submit {
    position: absolute;
    bottom: 1rem;

    &:not(.show) {
      display: none;
    }
  }

  @include respond-to(569px) {
    padding: 2rem;
    width: 100%;

    &:has(.upload__btn--submit:is(.show)) {
      padding-bottom: inherit;
    }

    &__heading {
      font-size: 1.25rem;
    }

    &__inner {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 2rem;
      padding-bottom: 0rem;
    }

    &__input-container {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 300px;
    }

    &__btn--prev,
    &__btn--next {
      // bottom: 3.75rem;
    }

    &__btn--prev {
      margin-left: 0;
    }

    &__btn--next {
      margin-right: 0;
    }

    &__btn--submit {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }
  }

  @include respond-to(1024px) {
    &__heading {
      font-size: 1.5rem;
    }

    &__label {
      margin-top: 0.5rem;
    }
  }
}
