@use '../utilities' as *;

.header {
  position: relative;
  display: grid;
  grid-template-areas:
    'logo nav'
    'search search';
  gap: 1rem;
  align-items: center;
  height: fit-content;
  padding: 1.5rem 1rem;
  box-shadow: $box-shadow-1;
  background-color: $color-grey-light-1;

  &__logo {
    grid-area: logo;
    display: inline-block;
    width: fit-content;
    height: fit-content;

    img {
      max-width: 6rem;
    }
  }

  &__form {
    grid-area: search;
    width: 100%;
    margin: 0 auto;
  }

  &__nav {
    grid-area: nav;
    justify-self: flex-end;
  }

  @include respond-to(768px) {
    padding: 1.5rem 2rem;

    &__logo {
      img {
        max-width: 8.75rem;
      }
    }
  }

  @include respond-to(600px) {
    grid-template-areas: 'logo search nav';
    grid-template-columns: auto 1fr auto;
    gap: 2rem;

    &__form {
      width: min(100%, 500px);
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
  height: fit-content;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  @include respond-to(768px) {
    &__list {
      gap: 2rem;
    }
  }
}
