@use '../utilities/' as *;

.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;

  &__btn {
    &--next:only-child {
      margin-left: auto;
    }

    &--prev:only-child {
      margin-right: auto;
    }
  }
}
