@use '../utilities/' as *;

.preview {
  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    transition: all 0.3s;
    padding: 10px 1rem;

    &:link,
    &:visited {
      transition: all 0.3s;
    }

    &:hover {
      background-color: $color-grey-light-1;
      transform: translateY(-2px);
    }

    &--active {
      background-color: $color-grey-light-1;
    }
  }

  &__fig {
    position: relative;
    width: 65px;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s;

    // flex: 0 0 5.8rem;
    // border-radius: 50%;
    // overflow: hidden;
    // height: 5.8rem;
    // margin-right: 2rem;
    // position: relative;
    // backface-visibility: hidden;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        $color-grad-1,
        $color-grad-2
      );
    }
  }

  &__img {
    position: relative;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  &__data {
    position: relative;
    width: 100%;
  }

  &__title {
    font-size: 14px;
    color: $color-primary;
    font-weight: $semi-bold;
    text-transform: uppercase;
  }

  &__publisher {
    font-size: 12px;
    font-weight: $semi-bold;
    color: $color-grey-dark-2;
    text-transform: uppercase;
  }

  &:not(:has(.preview__user-generated.visually-hidden)) {
    .preview__title {
      width: calc(100% - (2rem + 10px));
    }
  }

  &__user-generated {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: darken($color-grey-light-2, 2%);

    svg {
      width: 1.1rem;
      aspect-ratio: 1/1;
      fill: $color-primary;
    }
  }

  @include respond-to(768px) {
    &__link {
      padding: 1rem 2rem 1rem;
    }
  }
}
